.container {
    display: flex 1;   
}
p {
    font-size: 24px white;
}
.header {
    background-color: #1f2937;
    font-size: 24px bold #F9FAF8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif white ;
    flex-direction: row;
    
    
    
}

.top {
    background-color: #1f2937;
    font-size: 48px bold #F9FAF8;

}
body {
    margin: 0;
}